*{
    box-sizing: border-box;
}



body{
    padding: 0;
    margin: 0;
    background-color: #333333;
}



nav{
    position: relative;
    top: 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
}



.logo{
    border: 3px solid #ffffff;
    height: 50px;
    width: 210px;
    position: absolute;
    top: 12px;
    left: 3rem;
}

.logo h1{
    color: #ffffff;
    position: relative;
    top: -12px;
    left: 6px;
}


.nav-links ul{
    list-style: none;
    position: absolute;
    top: -1rem;
    right: 5rem;
}


ul li{
    display: inline-block;
}


li a{
    text-decoration: none;
    color: #ffffff;
    float: left;
    text-align: center;
    padding: 1.5rem;
    font-size: 17px;
}



.mobile-nav{
    position: fixed;
    right: 12px;
    z-index: 1;
    background-color: inherit;
    padding: 20rem 20rem;
    transform: translate(100%);
    transition: transform 0.3s ease-in-out;
}

.active{
    transform: translate(0);
}



.menu{
    position: fixed;
    top: 1rem;
    right: 12px;
    z-index: 1;
    display: none;
}

#open{
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  padding: 5px;

}

#open:focus{
    outline: none;
}


.pop{
    position: fixed;
    top: 12px;
    right: 12px;
}

.pop a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    margin:5rem;
    position: relative;
    left: -3rem;
    color: #ffffff;
    text-align: center;
}


.pop a:hover{
    color: #8f8b8b;
}

#close{
    position: relative;
    left: 12rem;
    font-size: 30px;
}

#close:focus{
    outline: none;
}


#close:active{
    transform: translate(2px, 2px)    
}

section{
    margin-top: 15rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}



.intro{
    width: 80%;
    position: relative;
    left: 3rem;

}


.intro h2 {
    color: #ffffff;
}


.intro p{
    color: #ffffff;
}


button{
    color: #ffffff;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    left: -.5rem;
}



img{
    width: 820px;
    position: relative;
    right: 5rem;
}



.author{
    margin-top: -15rem;
    height: 500px;
    position: absolute;
    right: 8rem;
    width: 500px;
    height: 200px;
    color: #ffffff;
    background: inherit;
}

.author img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 3rem;
    top: 2rem;
}

.author-profile{
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.author-profile h5{
    font-size: 20px;
}

.author-profile p{
    opacity: .5;
    position: relative;
    top: -3rem;
}


footer{
    height: 10vh;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 3px solid #eeeeee;
}

footer hr{
    width: 100%;
}




@media screen and (max-width:1200px){
    .nav-links{
        display: none;
    }

    .logo{
        left: .5rem;
    }

    .logo{
        border: 2px solid #ffffff;
        height: 25px;
        width: 130px;
        position: absolute;
        top: 12px;
        left: 1rem;
    }
    
    .logo h1{
        color: #ffffff;
        position: relative;
        top: -9px;
        font-size: 15px;
    }


    .menu{
        display: block;
    }
    
    section{
        display: grid;
        margin-top: 8rem;
    }

    section h2{
        font-size: 2rem;
    }

    .intro{
        position: relative;
        left: 1rem;
        top: -1rem;
        width: 100%;
        text-align: justify;

    }

    section img{
        width: 90%;
        height: 400px;
        position: relative;
        left: 1rem;
        right: 1rem;
    }


    .author{
        position: relative;
        width: 80%;
        height: 100px;
        right: 0;
        left: 2.5rem;
        display: grid;
        margin-top: -4rem;
    }

    .author img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        left: 1rem;
        top: 2rem;
    }
    
    .author-profile h5{
        font-size: 20px;
        position: relative;
        left: 2rem;
    }
    
    .author-profile p{
        opacity: .5;
        position: relative;
        top: -3rem;
        left: 2rem;
    }


    footer{
        height: 10vh;
        display: grid;
        place-items: center;
        margin-top: 5rem;
        overflow: auto;
        position: relative;
        top:15rem;

    }





}





